<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d299eab2-b616-4a5c-94cc-9b166ce6b758/resourceGroups/example-resources/providers/Microsoft.Web/sites/elehant</ResourceId>
    <ResourceGroup>example-resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://elehant.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>70c7550e-02eb-4a48-b6ff-5d2bfd0505a7</ProjectGuid>
    <PublishUrl>https://elehant.scm.azurewebsites.net/</PublishUrl>
    <UserName>$elehant</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>